body {
    background: rgb(255, 255, 255);
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* HEADER */
header {
    background-color: black;
    background-image: url("img/background.jpg");
    background-size: 100%;
    background-position: center;
    height: 400px;
    padding: 20px;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
}

header a:hover {
    background-color: rgba(226, 144, 182, 0.555);
    padding: 2px;
}
/* Remove hover over logo draft
.logo:not(.nohover):hover {  
    border: 1px solid red; 
}
*/

header .mobile {
    display: none;
}
header .logo a {
    background-image: url("img/logo.png");
    background-size: 300px;
    background-repeat: no-repeat;
    background-position-x: center;
    display: block;
    height: 500px;
    position: relative;
    text-indent: -999999px;
    top: -90px;
    width: 300px;
}

h3 {
    color:rgba(178, 48, 100, 0.549);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    border-radius: 3px;
    padding: 2px;
    display: inline-block;
    margin-right: 20px;
}

.container2 {
    background-color: rgb(255, 231, 235);
    color: rgb(194, 140, 140);
    padding: 10%;
    font-family: 'Comfortaa' cursive;
    font-family: 'Raleway', sans-serif;
    
}

/* RESPONSIVE RULES */
@media screen and (max-width: 750px) {
    header {
        height: 200px;
    }
    header .mobile {
        display: inline-block;
    
    }
    header a {
        color: rgba(141, 38, 38, 0.477);
        font-size: 14px;
    }

    header .desktop {
        display: none;
    }
@media screen and (max-width: 750px) {
    header .logo a {
        background-size: 200px;
        position: relative;
        top: -40px;
        width: 300px;
        left: -1%;
    }
}

}

div.wrapper {
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
    outline: none;
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-80%, -50%);
    background: rgba(255, 255, 255, 0.226);
    max-width: 550px;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

div.wrapper .input {
    width: 65%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    outline: none;
}

.searchbtn {
    background: #ffffff42;
    width: 15%;
    margin: -5px;
    left: -2%;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
}

.searchbtn .fa-solid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 27px;
}

/* RESPONSIVE SEARCH*/
@media all and (max-width: 750px) {
    div.wrapper {
        font-family: 'Comfortaa', cursive;
        box-sizing: border-box;
        outline: none;
        position: absolute;
        top: 12%;
        left: 65%;
        transform: translate(-10%, -20%);
        background: rgba(255, 255, 255, 0.226);
        max-width: 550px;
        width: 30%;
        padding: 15px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
    }
    .searchbtn {
        background: #ffffff42;
        width: 0%;
        margin: -5px;
        left: -8%;
        border-radius: 60px;
        position: relative;
        cursor: pointer;
    }
}

/* FEATURES*/

.features {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.features figure {
    margin: auto;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
}

.features figure img {
    border: 1px solid white;
    border-radius: 50px;
    box-shadow: rgb(253, 203, 211) 0 0 15px;
    width: 200px;
}

a {
    text-decoration: none;
}
a.hover {
    text-decoration: underline;
}


/*FOOTER*/

footer {
    background: black;
    color: gray;
    font-size: 12px;
    padding: 20px 20px;
    text-align: center;
}
